<p id="notice"><%= notice %></p>

<p>
  <strong>Usuário:</strong>
  <%= @qualificacao.user.username %>
</p>

<p>
  <strong>Linguagem:</strong>
  <%= @qualificacao.linguagem %>
</p>

<p>
  <strong>OS:</strong>
  <%= @qualificacao.os %>
</p>

<p>
  <strong>IDE:</strong>
  <%= @qualificacao.ide %>
</p>

<p>
  <strong>Repositório:</strong>
  <%= @qualificacao.repositorio %>
</p>

<p>
  <strong>SGBD:</strong>
  <%= @qualificacao.database %>
</p>

<p>
  <strong>Nivel de Conhecimento:</strong>
  <%= @qualificacao.nivelConhecimento %>
</p>
